<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Bundle</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/addPatient.css" rel="stylesheet">

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    
    <script>

      $(function() {
          $('#btnaddBundle').click(function(){

                  $.ajax({
                  url:'/addBundle',
                  data: $('#addBundleForm').serialize(),
                  type: 'POST',
                  success: function(response) {
                      alert(response);
                  },
                  error: function(error) {
                      alert(error);
                  }
              });
          });
      });

</script>

  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Baylor Scott & White Health</h3>
      </div>
 
      <div class="jumbotron">
          <h1>Adding Bundles</h1>

          <form id="addBundleForm" class="form-addBundle">
              <label for="bname" class="sr-only">New Bundle Name</label>
              <input type="name" name="bname" id="bname" class="form-control" placeholder="Bundle Name" required autofocus>
              
              <button id="btnaddBundle" class="btn btn-lg btn-primary btn-block" type="button">Add Bundle</button>
          </form>

      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Group 14</p>
      </footer>
 
    </div>
  </body>
</html>