<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Operation</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/addOperation.css" rel="stylesheet">

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/addOperation.js"></script>

        <!--<script src="../static/js/signUp.js"></script>-->


    <style>
      th {
        text-align: right;
        padding: 8px;
      }
    </style>
    
  </head>
 
  <body>
 
    <div class="container"> 
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="/getSurgeons">Sign In</a></li>
            <li role="presentation" class="active"><a href="showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Baylor Scott & White Health</h3>
      </div>  

        <div class="row marketing jumbotron">
          
              <h2 align="center"> Add Operation </h2>

              <form class="form-addOperation">

                  <div class="row marketing">                  
                          <table width="100%">
                            <tr>
                              <th>Surgeon's First Name</th>
                              <th><input type="text" name="sFirstName" id="sFirstName" class="form-control" placeholder="First Name" required autofocus></th>
                            </tr>
                            <tr>
                              <th>Surgeon's Last Name</th>
                              <th><input type="text" name="sLastName" id="sLastName" class="form-control" placeholder="Last Name" required autofocus></th>
                            </tr>
                            <tr>
                              <th>Patient's First Name</th>
                              <th><input type="text" name="pFirstName" id="pFirstName" class="form-control" placeholder="First Name" required autofocus></th>
                            </tr>
                            <tr>
                              <th>Patient's Last Name</th>
                              <th><input type="text" name="pLastName" id="pLastName" class="form-control" placeholder="Last Name" required autofocus></th>
                            </tr>
                            <tr>
                              <th>Operation Date</th>
                              <th><input type="text" name="opDate" id="opDate" class="form-control" placeholder="YYYY-MM-DD" required autofocus></th>
                            </tr>
                            <tr>
                              <th>Bundle Name</th>
                              <th><input type="text" name="bundleName" id="bundleName" class="form-control" placeholder="Bundle Name" required></th>
                            </tr>
                          </table>

                          </br><button id="btnAddOperation" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
                  </div>

              </form>

          </div>
        
          <footer class="footer">
            <p>&copy; Group 14</p>
          </footer>
    
        </div>

  </div>


  </body>
</html>

<!--
<div class="row marketing jumbotron">
			<div class="col-lg-6" align="center"> 
				<h3>Patient ID</h3>
				<p class="lead"></p>
              <form class="form-patientId">
                  <div class="dropdown">
                  <button class="dropbtn">Pick a Patient ID</button>
                      <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                      </div>
                  </div>
              </form>

          <h3>Bundle</h3>
          <form class="form-patientId">
              <div class="dropdown">
                <button class="dropbtn">Pick a Bundle</button>
                  <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
                </div>
          </form>
			</div>
        
      <div class="col-lg-6" align="center"> 
              <h3>Surgeon ID</h3>
            <form class="form-surgeonId">
                <div class="dropdown">
            <button class="dropbtn">Pick a Surgeon ID</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
            </form>

            
            <p><label for="operationDate" class="sr-only">Date of Operation (YYYY-MM-DD)</label></p>
            <p><input type="opDate" name="inputOpDate" id="inputOpDate" class="form-control" placeholder="YYYY-MM-DD" required autofocus></p>  
      
      </div>-->