<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Procedure</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/addOperation.css" rel="stylesheet">

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/addProcedure.js"></script>
    
  </head>
 
  <body>
 
    <div class="container"> 
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Baylor Scott & White Health</h3>
      </div>

			<div class="row marketing jumbotron">

					<h3>Add New Procedure</h3>

					<form id="addProcedure" class="form-addProcedure">          
								<table width="100%">
									<tr>
										<th>Procedure Name</th>
										<th><input type="text" name="pname" id="pname" class="form-control" placeholder="Procedure Name" required autofocus></th>
									</tr>
									<tr>
										<th>Bundle Name</th>
										<th><input type="text" name="bname" id="bname" class="form-control" placeholder="Bundle Name" required autofocus></th>
									</tr>
								</table>
                <p>

                </p>
								<button id="btnaddProcedure" class="btn btn-lg btn-primary btn-block" type="button">Add Procedure</button>

					</form>

			</div>

      <table id='valueTable'>   
        <tr> <th> Procedure ID </th> <th> Value ID </th> <th> Deescription </th> </tr>
          
        
      </table>
      
      <script>

      function populateTable(){
  
        var table = document.getElementById('valueTable');
        
        for(var i=0; i<data.length; i++){
          
          var tr = document.createElement('tr');
          
          for(var j=0; j<3; j++){
            
            var td = document.createElement('td');
            
            td.innerHTML = data[i][j];
            
            tr.appendChild(td);
            
          }
          
          table.appendChild(tr);
          
        }
  
      }

    </script>

      <footer class="footer">
        <p>&copy; Group 14</p>
      </footer>
 
    </div>
  </body>
</html>