<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Procedure Value</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/addOperation.css" rel="stylesheet">

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/addValue.js"></script>
    
  </head>
 
  <body>
 
    <div class="container"> 
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Baylor Scott & White Health</h3>
      </div>

			<div class="row marketing jumbotron">

					<h3>Add New Procedure Value</h3>

					<form id="addValue" class="form-addValue">          
								<table width="100%">
									<tr>
										<th>Procedure Name</th>
										<th><input type="text" name="pname" id="pname" class="form-control" placeholder="Procedure Name" required autofocus></th>
									</tr>
									<tr>
										<th>Value</th>
										<th><input type="text" name="val" id="val" class="form-control" placeholder="Interger value" required autofocus></th>
									</tr>
                                    <tr>
                                        <th>Description</th>
										<th><input type="text" name="desp" id="desp" class="form-control" placeholder="Description" required autofocus></th>
									</tr>
                                    <tr>
										<th><input type="checkbox" name="caseNum" style="background-color: yellow" id="caseNum" value="1" checked>Still have more values to add<br></th>
									</tr>
								</table>
                                <p>
                                
                                </p>
								<button id="btnaddValue" class="btn btn-lg btn-primary btn-block" type="button">Add Value</button>

					</form>

			</div>
 
      <footer class="footer">
        <p>&copy; Group 14</p>
      </footer>
 
    </div>
  </body>
</html>