<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Patient Bundle Verification</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <!--
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                     for later use
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                    <li role="presentation"><a href="https://youtu.be/dQw4w9WgXcQ">Click Me</a>
                    </li>
                    -->
                </ul>
            </nav>
            <h3 class="text-muted">Baylor Scott & White Health</h3>
        </div>
 
        <div class="jumbotron">
            <!-- later use
            <h1>Start Now</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
            -->

                <div class="row marketing">
                    <div class="col-lg-6" align="center"> 
                        <h2>Add</h2>
                        <p class="lead"></p>
                        <p><a class="btn btn-lg btn-success" href="showAddPatient" role="button">Patient</a>
                        </p>
                        
                        <p><a class="btn btn-lg btn-success" href="showAddOperation" role="button">Operation</a>
                        </p>
                        
                        <p><a class="btn btn-lg btn-success" href="showAddBundle" role="button">Bundle</a>
                        </p>
                        
                        <p><a class="btn btn-lg btn-success" href="showAddProcedure" role="button">Procedure</a>
                        </p>

                        <p><a class="btn btn-lg btn-success" href="showAddProcedureValue" role="button">Procedure Value</a>
                        </p>
                    </div>
            
                
                    <div class="col-lg-6" align="center"> 
                        <h2>Search</h2>
                        <p class="lead"></p>
                        <p><a class="btn btn-lg btn-success" href="searchOperations" role="button">Operations</a>
                        <p><a class="btn btn-lg btn-success" href="searchBundles" role="button">Bundles</a>
                        <p><a class="btn btn-lg btn-success" href="searchProcedures" role="button">Procedures</a>
                        <p><a class="btn btn-lg btn-success" href="searchSurgeon" role="button">Surgeon Dashboard</a>
                        </p>
                    </div>
                </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Group 14</p>
        </footer>
 
    </div>
</body>
 
</html>