<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search Surgeon</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/addOperation.css" rel="stylesheet">

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/getSurgeon.js"></script>

    <script>

    $(function() {
    $('#btnSearchSurgeon').click(function(){

        $.ajax({
            url:'/getSurgeon',
            data: $('#getSurg').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
				
				populateTable(response);
				
            },
            error: function(error) {
				alert("ERROR");
                alert(error);
            }
        });
    });
});



    function populateTable(data){
    	
    	var table = document.getElementById('resultsTable');
    	
    	for(var i=0; i<data.length; i++){
    		
    		var tr = document.createElement('tr');
    		
    		for(var j=0; j<5; j++){
    			
    			var td = document.createElement('td');
    			
    			td.innerHTML = data[i][j];
    			
    			tr.appendChild(td);
    			
    		}
    		
    		table.appendChild(tr);
    		
    	}
    	
    }

    </script>

    <style>
      th {
        text-align: right;
        padding: 8px;
      }
    </style>
    
  </head>
 
  <body>
 
    <div class="container"> 
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Baylor Scott & White Health</h3>
      </div>  

        <div class="row marketing jumbotron">
          
		  <h2 align="left"> Search Surgeon </h2>

		  <form id='getSurg' class="form-getsurg">
            <input type="checkbox" name="docName" style="background-color: yellow" id="docName" value="1" checked> Doctor Name <br>
			<label for="searchField" class="sr-only">Search For:</label>
			<input type="text" name="searchSurgeonName" id="searchSurgeonName" class="form-control" placeholder="Surgeon Name" required autofocus>
			<p>
             
      </p>
			<button id="btnSearchSurgeon" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
		  </form>

	  </div>
	  
		<table id='resultsTable'>		
			<tr> <th> Case Number </th> <th> Surgeon ID </th> <th> Patient ID </th> <th> Operation Date </th> <th> Bundle Name </th> </tr>
			
		
		</table>
        
          <footer class="footer">
            <p>&copy; Group 14</p>
          </footer>
    
        </div>

  </div>


  </body>
</html>

